[Unit]
Description=Run auto-classify daily
Requires=auto-classify.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
